:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --purple1: #201648;
  --purple2: #390a4e;
  --purple3: #40195f;
  --purple4: #1c113d;
  --purple5: #493571;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html{
  width: 100vw;
}
body {
  background-color: var(--purple4);
  padding-bottom: 1rem;
}
